<!DOCTYPE html>
<html lang="en">

<head>
   {{>headerlinks}}
</head>

<body>
    
    {{>navbar}}

    <!-- main_header -->
    <div class="container-fluid main_header bgabout">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <!-- left side div -->
                    <div class="col-md-6 col-12  main_header_right">
                        <figure>
                            <img src="./image/about.png" alt="omkar" class="img-fluid" title="Technical OMKAR">
                        </figure>
                     </div>
                    </div>

                    <div class="col-md-12 col-10  main_header_left aboutDesc">
                        <p><b> Welcome To Technical <i class="fa fa-laptop " aria-hidden="true"></i> OMKAR WORLD</b></p>
                        <h1>I Am A<span class="text_clr"> Mern Stack Developer </span> <br> Youtuber And A Freelancer</h1>
                        <a href="https://www.codewithharry.com/" target="_omkar"><button><b>About Me</b></button></a>
                    </div>
                <!-- right side div -->
               
            </div>

        </div>
    </div>
    </div>
    <!-- footer -->
    
    {{>footer}}
</body>

</html>
