@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Piazzolla:wght@200;300;400;900&display=swap");

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap');


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: "Roboto", sans-serif; */
  font-family: "Piazzolla", serif;
}

:root {
  --main-bg: #1e272e;
  --main-color: #0097e6;
}

html {
  /* height: 100vh; */
  font-size: 62.5%;
  margin:0;
}

body {
  height: 100vh;
  display: flex;
  flex-direction:column;
}

.row .row{
  margin: 0rem;
}

/* navbar style */

.main_menu {
  background-color: var(--main-bg);
}

.navbar {
  color: #fff;
  background-color: var(--main-bg);
  padding: 2rem 0;
  height: 18rem;
}

.navbar li {
  margin-left: 2rem; 
}

.navbar a {
  color: #fff;
  font-size: 5.8rem;
}

.navbar a:hover {
  color: var(--main-color);
}

.navbar-toggler {
  background-color: #718093;
}

.fa-snowflake {
  transition: all linear;
  animation: rot 2s linear infinite;
  color: var(--main-color);
}

@keyframes rot {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* main header part  */

.weatherimg{
  min-height: 100%;
  /* position: absolute; */
  background: url(../image/weather.png) no-repeat center center  fixed ;
  overflow-y: hidden;
  overflow-x: hidden;
  background-size: cover; 
}

.bghome{
  min-height: 100%;
  position: relative;
  background: url(../image/bghome.png) no-repeat center center  ;
  /* overflow-y: hidden;
  overflow-x: hidden; */
  background-size: cover;
}

.bgabout{
  min-height: 100%;
  /* position: absolute; */
  background: url(../image/bgabout.jpg) no-repeat center center  fixed ;
  overflow-y: hidden;
  overflow-x: hidden;
  background-size: cover;
}

.tvbgimg{
  min-height: 100%;
  /* position: absolute; */
  background: url(../image/tvbgimg.jpg) no-repeat center center ;
  background-size: cover;

}
/* error page style */
.row .errimgsize{
  height: 200rem;
  align-items: center;
  justify-content: center;
  min-height: 100%;
} 

.main_header_left {
  height: 70rem;
  display: flex;
  flex-direction: column; 
  justify-content: center;
  align-items: flex-start;
  margin-left: 220rem;
  margin-top: -30rem;
  /* margin-bottom: 10rem; */
}

.main_header_left p {
  font-size: 11rem;
  font-family: "Roboto", sans-serif;
  margin-bottom: 90rem;
}

.main_header_left h1 {
  font-size: 12rem;
  position: relative;
  /* margin: 2rem 0 4rem 0; */
  text-transform: capitalize;
  font-family: "Oswald", serif;
  margin-top: -85rem;
  
}

.text_clr {
  color:rgb(233, 222, 210);
}

.main_header_left .weatherclr{
  color:rgb(59, 62, 228)
}

.main_header_left button {
  margin: 8rem;
  border:10px solid black;
  padding: 0.8rem 1.8rem;
  font-size: 6.4rem;
  border-radius: 8rem;
  text-transform: uppercase;
  box-shadow: 0 5px 5px -6px black;
  outline: none;
  /* transition: all 0.2s linear; */
}
.main_header_left button b{
  font-size: 8rem;
}

.main_header_left button:hover {
  box-shadow: 0 15px 19px -6px;
  color: black;
  
  /* border: 1px solid var(--main-color); */
}

.main_header_right {
  height: 70rem;
  display: flex;
  size: 110rem;
  /* flex-direction:column; */
  justify-content:center;
  align-items:flex-start;
  margin-top: 50rem;
}

.main_header_right figure img {

  filter: drop-shadow(0 0.5rem 3rem 1rem rgba(0, 0, 0, 0.3)); 
  height: 150rem;
  margin-right: 170rem;
}

/* weather page style */
/* temp input fields style code */
.temp_form {
  width: 80%;
  position: relative;
  margin: 55rem auto 18rem;
}

.temp_form input[type="text"] {
  width: 100%;
  padding: 5rem 7rem 8rem 6rem;
  background: #1e202b;
  color: white;
  outline: none;
  border: 2rem solid rgb(233, 227, 227);
  font-size: 7.7rem;
  border-radius: 7rem;
  
}
#cityName{
  text-align: center;
  font-family: 'Titillium Web', sans-serif;
  text-transform: uppercase;
  font-size: 10rem;
  
}

::placeholder {
  color: #bfc1c8;
  font-size: 7rem;
  /* padding: 48rem 110rem; */
  /* font-family: 'Oswald', sans-serif;  */
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-weight: 6rem;
}

.temp_form input[type="submit"] {
  position: absolute;
  top: 3px;
  right: 5px;
  bottom: 3px;
  border: 2rem solid rgb(7, 85, 85);
  background: #009ad8;
  padding: 0 3rem;
  border-radius: 7rem;
  color: white;
  font-size: 4.6rem;
  text-align: center;
  font-family: 'Oswald', sans-serif;
}

.temp_form input[type="submit"]:hover {
  color: #009ad8;
  background-color: #fff;
}

/* temp detials show here */

.tempInformation {
  width: 120rem;
  height: 90rem;
  margin: auto;
  min-height: 30rem;
  background-color: #323544;
  border-radius: 3rem;
  border: 2rem solid rgb(91, 169, 201);
  padding: 1rem;
  font-family: "Roboto", sans-serif;
}

.top_layer {
  width: 100%;
  height: 20%;
  background-color: #2d303d;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 1rem;
  padding: 2rem 0;
}

#day{
  font-size: 5.9rem;
  font-family:serif;
}

#today_date{
  font-size: 6rem;
  font-family:serif;
}

.top_layer p {
  color: #fff;
  font-weight: 300;
  padding: 2rem;
  font-size: 1.4rem;
}

.main_layer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.main_layer #city_name {
  padding: 2rem 0;
  color: #bfc1c8;
  font-weight: 300;
  font-size: 8rem;
  text-align: center;
}

.main_layer .middle_layer {
  display: flex;
  justify-content: space-around;
  color: #fff;
}

.main_layer .middle_layer p,
.main_layer .middle_layer .fa {
  font-size: 20rem;
  font-weight: 900;
}

.fa {
  color: #009ad8;
}

sup {
  font-size: 10rem;
  margin-top: -25rem;
}

.data_hide {
  visibility: hidden;
  transition: all 0.3s linear;
}

/* 404 error page  */
.errimg img {
  width: 60rem;
  height: 30rem;
}

/* footer style  */
footer {
  width: 100%;
  height: 10rem;
  /* position: relative; */
  background-color: var(--main-bg);
  margin: 2rem;
  text-align: center;
}

footer p {
  margin: auto;
  text-align: center;
  line-height: 5rem;
  color: #fff;
  font-size: 7.4rem;
}

/* weather page style */
/* temp input fields style code */


/* responsive code */
@media (max-width: 768px) {
  .main_header_left {
    height: auto;
    margin: 5rem 0;
  }

  .main_header_right {
    height: auto;
    margin-top: 3rem;
  }

  .temp_form {
    width: auto;
  }
  .tempInformation {
    width: auto;
  }

  .main_layer .middle_layer p,
  .main_layer .middle_layer .fa {
    font-size: 5rem;
    font-weight: 900;
  }
}